@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700);.grid16-1{width:60px;}.grid16-2{width:120px;}.grid16-3{width:180px;}.grid16-4{width:240px;}.grid16-5{width:300px;}.grid16-6{width:360px;}.grid16-7{width:420px;}.grid16-8{width:480px;}.grid16-9{width:540px;}.grid16-10{width:600px;}.grid16-11{width:660px;}.grid16-12{width:720px;}.grid16-13{width:780px;}.grid16-14{width:840px;}.grid16-15{width:900px;}.grid16-16{width:960px;}.grid16-indent-1{margin-left:60px;}.grid16-indent-2{margin-left:120px;}.grid16-indent-3{margin-left:180px;}.grid16-indent-4{margin-left:240px;}.grid16-indent-5{margin-left:300px;}.grid16-indent-6{margin-left:360px;}.grid16-indent-7{margin-left:420px;}.grid16-indent-8{margin-left:480px;}.grid16-indent-9{margin-left:540px;}.grid16-indent-10{margin-left:600px;}.grid16-indent-11{margin-left:660px;}.grid16-indent-12{margin-left:720px;}.grid16-indent-13{margin-left:780px;}.grid16-indent-14{margin-left:840px;}.grid16-indent-15{margin-left:900px;}.gutter{margin-left:10px;margin-right:10px;}body,div.full-width{min-width:960px;}



html{background:url(../images/header-bg.jpg) top center repeat-x #000;}
html body.page-id-213 {background:url(../images/header-bg.jpg) top center repeat-x #000 !important;}


body{font-family:'Titillium Web',sans-serif;}h1,h2,h3,h4,h5{font-family:'Titillium Web',sans-serif;}a:link,a:visited{color:#000;}h1.title{color:#333;text-transform:uppercase;padding-left:20px;}#header-site-info{width:600px;float:left;}#block-block-8{width:252px;float:right;margin-bottom:0;}#header-group-inner{margin:10px 0;}#preface-top-wrapper{}#preface-top,#main,#postscript-bottom{background:#fff;}

#footer-inner #block-block-3 { float: left; width: auto; margin-bottom: 0; }
#footer-inner #block-block-2 { float: right; width: auto; margin: 0; }
#footer-inner #block-block-2 p { margin: 0; }
#footer-inner #block-block-4 p { color: #fff; border-color: #fff; }

#footer-wrapper{ /*background:url(../images/footer-bg.jpg) repeat top center;*/
	color:#777;padding-top:20px;}#block-block-4{border-top:1px dotted #777;}#block-system-main .content{margin:0 10px;}#block-edit-edit{position:absolute;right:20px;top:20px;z-index:501;}#block-edit-edit #edit-trigger-link{display:block;background:#ddd;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;padding:5px 10px;color:#000;}#block-views-banner_block-block{margin-bottom:0;height:182px;}#block-views-banner_block-block .gutter,#block-views-banner_block-block .gutter{margin:0;}#block-system-main-menu{background:#111;}#block-system-main-menu .gutter{margin:0;}#block-system-main-menu ul.menu{padding:0;margin:0;list-style:none;}#block-system-main-menu ul.menu li{list-style:none;float:left;}#block-system-main-menu ul.menu li a{color:#ccc;display:block;padding:8px 21px 24px 8px;text-transform:uppercase;border-right:1px solid #555;font-size:15px;font-weight:100;font-family:'Titillium Web',sans-serif;height:21px;line-height:1.2em;}#block-system-main-menu ul.menu li.last a{border-right:0;}#block-system-main-menu ul.menu li a:hover{text-decoration:none;color:#fff;font-weight:100;}#block-system-main-menu ul.menu li a.active{color:yellow;font-weight:400;border-bottom:3px solid yellow;padding-bottom:21px;}.ds-2col > .group-right{width:275px;}.ds-2col > .group-left{width:620px;padding-right:25px;}.info-box{border-bottom:1px solid #c7c7c7;padding:20px;margin:0 0 15px 0;}tbody{border-top:0;}.view-latest-news div.node{margin-bottom:0;position:relative;}.view-latest-news .views-row .field-type-image{float:left; max-width: 275px; margin-right:30px;}.view-divisions .views-row,.view-drivers .views-row,.view-latest-news .views-row{padding:20px;margin:0 20px;}.view-divisions .views-row-odd,.view-drivers .views-row-odd,.view-latest-news .views-row-odd{background:#f4f4f4;border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7}.view-drivers .field-name-title,.view-latest-news .field-name-title a{color:red;text-transform:uppercase;font-style:italic;}.view-divisions .field-name-field-image{float:right;margin-left:30px;}.view-divisions h2{float:left;color:red;text-transform:uppercase;font-style:italic;}.view-divisions .taxonomy-term-description{clear:left;}.view-powerboat-division-eva-link-to-drivers- .views-row{background:none;border:0;}.view-powerboat-division-eva-link-to-drivers- .views-row a,.field-name-node-link.field-type-ds a{position:absolute;right:0px;bottom:0px;background:#333;padding:2px 10px;color:#fff;text-transform:uppercase;}.field-name-node-link.field-type-ds a{bottom:8px;}.view-powerboat-division-eva-link-to-drivers- .views-row a{right:auto;left:0px;}.view-powerboat-division-eva-link-to-drivers- .views-row{padding:6px 0 0 0;}.view-drivers .ds-2col > .group-left{width:390px;min-height:80px;}.view-drivers .ds-2col > .group-right{width:425px;}.field-name-field-photos .field-item{float:left;margin-right:10px;}.view-divisions .right-image{float:right;margin-left:30px;}.view-divisions .taxonomy-title a{font-weight:bold;font-size:18px;}.node-competition .field{float:left;margin:0 1px 1px 0;padding:3px 10px;background:#333;color:#eee;font-weight:bold;font-size:12px;width:58px;text-align:center;height:40px;}.node-competition .field-name-field-division{float:none;background:none;width:auto;height:auto;text-align:left;font-size:18px;font-weight:800;padding:0;margin:10px 0 5px -55px;color:red;}.view-competition-eva-results- .field{background:transparent;color:#555;font-weight:normal;height:22px;}.node-competition .field-name-driver-label,.view-competition-eva-results- .field-name-field-driver-ref{width:260px;text-align:left;}.view-competition-eva-results- div.node{margin:0;}.view-competition-eva-results-{clear:both;}.node-competition .field-name-title{float:none;width:auto;height:auto;color:#333;background:transparent;margin:0;padding:0;text-align:left;}.galleria-container{height:467px;}h2.block-title,h2.highlight{background:url(/sites/all/themes/fusion_powerboats/css/images/title-bg.jpg) left center #111;color:#fff;padding:7px 10px;font-weight:800;text-transform:uppercase;margin:0;}.red-checked h2.block-title{background:url(/sites/all/themes/fusion_powerboats/css/images/title-bg-red.jpg) right bottom repeat;}#block-views-gallery_block-block{margin-bottom:5px;}.black-checked .inner{background:url(/sites/all/themes/fusion_powerboats/css/images/title-bg.jpg) right bottom no-repeat #111;padding-bottom:25px;}#block-views-next_event-block .inner{padding-bottom:0px;}#block-views-next_event-block{margin-bottom:5px;}.black-checked .inner .block .inner{background:transparent;padding-bottom:0;}.black-checked .inner .block{margin-bottom:0;}.red-checked .inner{background:url(/sites/all/themes/fusion_powerboats/css/images/title-bg-red.jpg) right bottom;padding-bottom:25px;}.black-checked .content,.red-checked .content{background:#fff;}#block-views-series_leaderboard_block-block table{background:#f4f4f4;}#block-views-next_event-block .group-left .field-item{line-height:0;}#block-block-1 .inner{padding-bottom:0;}#block-views-next_event-block div.node{margin-bottom:0px;}.field-name-field-details .field-items .field-item,.field-name-field-links .field-items .field-item,.field-name-field-external-link .field-items .field-item{background:#333;color:white;text-transform:uppercase;padding:3px 10px;margin-bottom:1px;}.field-name-field-links .field-items .field-item,.field-name-field-external-link .field-items .field-item{width:93px;float:left;}.field-name-field-external-link .field-items .field-item a,.field-name-field-links .field-items .field-item a{background:url(/sites/all/themes/fusion_powerboats/css/images/arrow.png) left center no-repeat;color:#fff;padding-left:22px;}.field-name-field-details .field-items .field-item.odd,.field-name-field-links .field-items .field-item.odd{background:#444;}.field-name-field-links .field-items .field-item .file-icon{display:none;}.field-name-field-external-link .field-items .field-item{background:red;}.views-row.gradiented,tr.gradiented{background:rgb(255,255,255);background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(100%,rgba(229,229,229,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);border-left:1px solid #c7c7c7;border-right:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;padding:2px;}thead tr{background:rgb(69,72,77);background:-moz-linear-gradient(top,rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(69,72,77,1)),color-stop(100%,rgba(0,0,0,1)));background:-webkit-linear-gradient(top,rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);background:-o-linear-gradient(top,rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);background:-ms-linear-gradient(top,rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);background:linear-gradient(to bottom,rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d',endColorstr='#000000',GradientType=0);color:#fff;}thead th{padding:5px 10px 5px 5px;}.view-competition-eva-results- .views-row.gradiented{display:table-row;}#block-views-next_event-block_1 div.node,#block-views-next_event-block_2 div.node{margin-bottom:0;}#block-views-next_event-block_1 .ds-2col-fluid > .group-right,#block-views-next_event-block_2 .ds-2col-fluid > .group-right{width:78%;}#block-views-next_event-block_1 .ds-2col-fluid > .group-left,#block-views-next_event-block_2 .ds-2col-fluid > .group-left{width:22%;}#block-views-video_list-block,#block-views-video_list-block_1,#block-views-video_list-block_2{height:229px;width:335px;overflow:scroll;overflow-x:hidden;}#block-views-video_list-block .gutter,#block-views-video_list-block_1 .gutter,#block-views-video_list-block_2 .gutter{margin:0;width:400px;}.quicktabs_main.quicktabs-style-sky{padding:0;}#block-views-video_list-block table caption,#block-views-video_list-block_1 table caption,#block-views-video_list-block_2 table caption{clear:both;float:left;width:80px;font-weight:800;display:block;}#block-views-video_list-block table tbody,#block-views-video_list-block_1 table tbody,#block-views-video_list-block_2 table tbody{float:left;width:260px;}#block-views-video_list-block table tbody td,#block-views-video_list-block_1 table tbody td,#block-views-video_list-block_2 table tbody td{width:240px;padding-right:30px;}ul.quicktabs-tabs.quicktabs-style-sky li a,ul.quicktabs-tabs.quicktabs-style-sky li a:visited{width:111px;padding:0;text-align:center;}#block-views-video_list-block table,#block-views-video_list-block_1 table,#block-views-video_list-block_2 table{border-bottom:1px solid #777;}#block-views-video_list-block table tr.views-row-last,#block-views-video_list-block_1 table tr.views-row-last,#block-views-video_list-block_2 table tr.views-row-last,#block-views-video_list-block table tr.views-row-last td,#block-views-video_list-block_1 table tr.views-row-last td,#block-views-video_list-block_2 table tr.views-row-last td{border-bottom:none;}ul.quicktabs-tabs.quicktabs-style-sky li.active a,ul.quicktabs-tabs.quicktabs-style-sky li.active a:visited{height:2.65em;min-height:2.95em;line-height:2.95em;top:7px;}.double{width:58px;padding-bottom:10px;height:21px;}.views-row .vocabulary-powerboat-divisions,.views-row .node-gallery{position:relative;}.edit-editable.edit-highlighted{z-index:305;min-width:auto;}.edit-toolbar-container,.edit-form-container{float:left;}.view-galleries .views-row{float:left;margin-right:1px;width:148px;}.view-galleries .views-row img{width:100%;}.view-galleries h3{padding-top:25px;border-bottom:1px solid #c7c7c7;clear:both;}.view-galleries .views-row a{color:#333;font-weight:bold;text-align:center;}

	.node-competition{padding-left:55px;background:url(../images/rank.jpg) 0 26px no-repeat;}
	#block-views-video_block-block .content{position:relative;}.node-next-event.node-teaser .views-row{padding:5px;}.node-next-event.node-teaser .field-name-field-venue-name{float:left;font-weight:800;width:218px;}.node-next-event .field-name-field-date{float:left;margin-right:5px;}.node-next-event .field-name-test .field-name-field-date span:before{content:" & ";}.field-name-name-and-address{padding-top:10px;}#block-views-series_leaderboard-block{margin-bottom:5px;}.view-drivers h3{text-transform:uppercase;font-size:24px;margin-left:20px;margin-top:10px;}.node-drivers.node-teaser{margin-bottom:0;}#block-jquery_countdown_timer-jquery_countdown_timer{background:url(/sites/all/themes/fusion_powerboats/css/images/ticker-back.jpg) -1px -10px no-repeat;}.countdownHolder{width:auto;}#jquery-countdown-timer-note{display:none;}.view-powerboat-division-eva-link-to-drivers-{position:absolute;bottom:5px;width:120px;}.no-padd .gutter{margin:0;}.no-padd-left .gutter{margin-left:0;}.no-padd-right .gutter{margin-right:0;}.view--eva-extra-image-on-driver-profile{margin-left:1px;float:left;}.view--eva-extra-image-on-driver-profile ul li{margin:0;padding:0;list-style:none;}.block .view--eva-extra-image-on-driver-profile ul{margin:0;padding:0;list-style:none;}.view-video-list td.views-field-title a{white-space:nowrap;}.view-video-block div.node{margin-bottom:0;}
.messages.error{display :none;}
