.mobile_menu { display: none; text-align: center; }
.mobile_menu a { color: #fff !important; font-size: 30px; text-decoration: none !important;
	padding: 20px 0; display: inline-block; }
.mobile_menu a:hover { color: #ccc; }
.stopper { position: relative; }
.stopper .slicknav_menu { padding: 0; display: none; position: absolute; top: 61px; left: 0; right: 0;
	width: 100%; z-index: 99999; }
.stopper .slicknav_btn { display: none; }
.stopper .slicknav_nav a { color: #fff !important; text-decoration: none !important; }

@media only screen and (max-width: 959px) {
	body, div.full-width { min-width: 100%; }
	.grid16-16 { width: 748px !important; }
	.grid16-10, .grid16-6 { width: 100% !important; float: none !important; }
	#block-block-1 .content table td, #block-block-1 .content table tr { display: block; width: 100%; }
	#block-block-1 .content table img { display: block; max-width: 500px; margin: 20px auto 0; }
	.field-item iframe { width: 100%; max-width: 100%; }
	body, div.full-width { min-width: 100% !important; }
	.content .menu  { display: none; }
	.mobile_menu { display: block; }
	.stopper .slicknav_menu { display: block; }

	.ds-2col > .group-left { width: 100% !important; }
	.node-competition .field-name-driver-label, .view-competition-eva-results- .field-name-field-driver-ref { width: 235px !important; }

	#postscript-top { width: 300px !important; margin: 0 auto; float: none; }

}


@media only screen and (max-width: 767px) {	
	.grid16-16 { width: 300px !important; }
	.content table img {max-width: 280px; }
	#block-block-1 .content table img { max-width: 280px; }
	.content  img { max-width: 100%; height: auto !important; }
	#logo { float: none; margin: 0; }
	#logo img { max-width: 100%; height: auto; }
	#header-site-info { width: 100% !important; float: none !important; }
	#block-block-8 { width: auto !important; float: none !important;  text-align: center; }
	.ds-2col > .group-right {width: auto !important; float: none; }
	.field-items { max-width: 250px; margin: 0 auto; }
	.field-items img { max-width: 100%; height: auto; }
	.view-galleries .views-row { float: none !important; margin: 0 auto; width: 260px !important; }
	.view-galleries .views-row img { height: auto; }
	#block-views-video_list-block, #block-views-video_list-block_1, #block-views-video_list-block_2, #block-views-video_list-block .gutter, #block-views-video_list-block_1 .gutter, #block-views-video_list-block_2 .gutter { width: 100% !important; }
	li, li.leaf, ul.menu li, .item-list ul li, p { word-wrap: break-word; }
	.result_table_wrapper .views-row { width: 260px; overflow-y: scroll; }
	.result_table_wrapper .view-content, .result_table_wrapper div.node { width: 710px; }
	.result_table_wrapper { width: 300px; overflow: hidden; }


}
